<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>_ _ _ _ _</h1>
	<form action="/jugar" method="post">
		<input type="text" name="ingreseLetra" maxlength="1" style="width:10px">
	</form>
</body>
</html>