<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<center>
	
	<form action="/jugar2" method="post">
		<input type="text" name="palabra" style="width:90%" value="<%= session['palabra'] %>">
		<input type="text" name="ingreseLetra" maxlength="1" style="width:10px">
		<input type="submit" value="Validar">
	</form>
	</center>
</body>
</html>